body {
  overflow-y: scroll;
}

#app {
  margin-top: 10px;
  margin-bottom: 50px;
}
.bank-name {
  text-transform: capitalize;
}

.icons-container {
  display: flex;
  justify-content: space-around;
}

.icon {
  width: 25px;
  height: 25px;
}

.edit-icon:hover {
  fill: green;
  stroke: green;
  cursor: pointer;
}

.delete-icon:hover {
  fill: red;
  stroke: red;
  cursor: pointer;
}

#app .form-text span {
  color: red;
}
